#ItemWidgetEl {
    color: rgb(200, 200, 200);
    font-size: 9pt;
    border: 0px solid;
}

#ItemWidgetElType {
    color: rgb(200, 200, 200);
    font-size: 8pt;
    border: 0px solid;
    border-left: 1px solid rgb(75, 75, 75);
}