#MainBar {
    background-color: rgb(45, 45, 45);
    border-bottom: 1px solid rgb(200, 200, 200);
}

#ImageTab {
    color: rgb(160, 160, 160);
    border: 0px;
    border-bottom: 1px solid rgb(200, 200, 200);
    background-color: rgb(60, 60, 60);
    font-size: 8pt;
}
