#Load {
    border: 1px solid #727272;
    background-color: #565656;
}

#Load:hover {
    background-color: #666666;
}

#Rewrite {
    border: 1px solid #727272;
    background-color: #565656;
}

#Rewrite:hover {
    background-color: #666666;
}

#ImageLine {
    border: 1px solid #727272;
    border-left: 0px;
    background-color: #424242;
}

#ImageTab {
    color: #AEE8F5;
    border: 1px solid #727272;
    background-color: #484848;
    font-size: 8pt;
}

#ImageTab:hover {
    background-color: #666666;
}
