#SidePanel {
    border-left: 1px solid rgb(200, 200, 200);
    background-color: rgb(45, 45, 45);
}

#SectionLabel {
    border-left: 1px solid rgb(200, 200, 200);
    background-color: rgb(30, 30, 30);
    color: rgb(200, 200, 200);
    border-bottom: 1px solid rgb(36, 36, 36);
}

#ElementList {
    font-size: 1pt;
    border: 0px;
    border-left: 1px solid rgb(200, 200, 200);
    background-color: rgb(45, 45, 45);
    color: rgb(45, 45, 45);
}

#SBLoad {
    border: 0px;
    border-radius: 8%;
}

#SBLoad:hover {
    background-color: rgb(60, 60, 60);
}

#SBLoadIcon {
    border: 0px;
}

#SBName {
    color: rgb(200, 200, 200);
}

#SBHide {
    border: 0px;
}

#OpacityInput {
    background-color: rgb(45, 45, 45);
    border: 1px solid rgb(140, 140, 140);
    color: rgb(200, 200, 200);
}

#SliderButton {
    color: rgb(180, 180, 180);
    border: 0px;
    border: 1px solid rgb(140, 140, 140);
    background-color: rgb(45, 45, 45);
}

#SliderButton:hover {
    background-color: rgb(80, 80, 80);
}