#TitleWidget {
    background-color: rgb(80, 80, 80);
    border-bottom: 1px solid rgb(200, 200, 200);
}

#DialogueButton {
    border: 0px;
    border-radius: 5%;
    color: rgb(200, 200, 200)
}

#DialogueButton:hover {
    background-color:rgb(100, 100, 100)
}

#ProjectName {
    color: rgb(200, 200, 200)
}

#WindowButton {
    border: 0px;
}

#WindowButton:hover {
    border-bottom: 1px solid rgb(200, 200, 200);
    background-color: rgb(100, 100, 100);
}

#WindowCloseButton {
    border: 0px;
}

#WindowCloseButton:hover {
    border-bottom: 1px solid rgb(200, 200, 200);
    background-color: rgb(200, 0, 0);
}