#ToolBar {
    background-color: rgb(70, 70, 70);
    border-right: 1px solid rgb(200, 200, 200);
}

#StartSectionButton {
    color: rgb(140, 140, 140);
    border: 0px;
    border-top: 1px solid rgb(200, 200, 200);
}

#StartSectionButton:hover {
    color: rgb(240, 240, 240);
    border: 0px;
    border-top: 1px solid rgb(200, 200, 200);
    border-left: 3px solid rgb(255, 255, 255);
}

#StartSectionButtonClicked {
    border: 0px;
    border-left: 3px solid rgb(240, 240, 240);
    border-top: 1px solid rgb(200, 200, 200);
}

#SectionButton {
    border: 0px;
    color: rgb(140, 140, 140);
}

#SectionButton:hover {
    color: rgb(240, 240, 240);
    border: 0px;
    border-left: 3px solid rgb(255, 255, 255);
}

#SectionButtonClicked {
    border: 0px;
    border-left: 3px solid rgb(240, 240, 240);
}
